.alert{
  margin-top: 5px;
  padding: 20px;
  border-radius: 15px;
  border: 1px solid #c3c3c3;
}

.alert-success{
  background-color: rgba($color: #090, $alpha: 0.1);
}

.alert-info{
  background-color: rgba($color: #c3c3c3, $alpha: 0.1);
}

.alert-warning{
  background-color: rgba($color: yellow, $alpha: 0.1);
}

.alert-danger{
  background-color: rgba($color: #900, $alpha: 0.1);;
}
