<section>
<article>
  <h3>Two-way-data-binding</h3>
  <div>
    <input type="text"
    [value]="getName()"
    (input)="setName($event.target)"
    />

    <input type="text"
    [ngModel]="getName()"
    (ngModelChange)="setName($event)"
    />

    <input type="text" [(ngModel)]="name"/>

    <input type="text" bindon-ngModel="name">

    <input type="text" />
    <p>You've typed: {{ getName() }} </p>
  </div>

  <div>
    <h1>Fill out the form bellow</h1>
    <input
    type="text"
    placeholder="Enter your name"
    [(ngModel)]="person.name"
    >
    <input
    type="text"
    placeholder="Enter your last name"
    [(ngModel)]="person.lastName"
    >
    <input
    type="number"
    placeholder="Enter your age"
    [(ngModel)]="person.age"
    >

    <div>
      <p>Your name: {{person.name}}</p>
      <p>Your last Name: {{person.lastName}}</p>
      <p>Your age: {{person.age}}</p>
    </div>
  </div>
</article>

</section>
