<!-- <nav class="navbar bg-light">
  <div class="container-fluid">
    <a class="navbar-brand nav-link">What's up</a>
    <a
      class="navbar-brand nav-link link"
      [class.active]="areTheTabsNamesEqual('home', getCurrentSelectedTab())"
      (click)="setCurrentSelectedTab('home')"
    >Home</a>

    <a
      class="navbar-brand nav-link link"
      [class.active]="areTheTabsNamesEqual('map', getCurrentSelectedTab())"
      (click)="setCurrentSelectedTab('map')"
    >Map</a>

    <a
    class="navbar-brand nav-link link"
    [class.active]="areTheTabsNamesEqual('list', getCurrentSelectedTab())"
    (click)="setCurrentSelectedTab('list')"
    >List</a>

    <form class="d-flex" role="search">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<div id="container" [ngSwitch]="getCurrentSelectedTab()">
  <p *ngSwitchCase="'home'">Home mode activated</p>
  <p *ngSwitchDefault="'home'">Home mode activated</p>
  <p *ngSwitchCase="'map'">Map mode activated</p>
  <app-ng-if-directive *ngSwitchCase="'list'"></app-ng-if-directive>
</div>


  <app-ng-if-directive></app-ng-if-directive>
-->
<app-ng-class></app-ng-class>



